@font-face {
	font-family: montserrat;
	src: url(../fonts/montserrat/montserrat-regular.ttf);
}

@font-face {
	font-family: raleway;
	src: url(../fonts/raleway/raleway-regular.ttf);
}

@font-face {
	font-family: raleway-semibold;
	src: url(../fonts/raleway/raleway-semibold.ttf);
}

@font-face {
	font-family: roboto;
	src: url(../fonts/roboto/roboto-regular.ttf);
}


body {
	margin: 0 auto;
	width: 1920px;
	background-color: dimgrey;

}

.header {
	width: 100%;
	min-height: 1024px;
	background-image: url(../img/img-header.png);
	background-repeat: no-repeat;
	/*border: 5px solid aqua;*/
}

.logo {
	/* border: 1px solid black; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 181px;
	text-decoration: none;
	background-color: transparent;
	padding: 40px 0 0 376px;
	;
}

.logo-svg {
	fill: #fff;

}

.logo-txt {
	font-family: raleway;
	color: #ffffff;
	font-size: 34px;
	font-weight: 400;
	text-align: right;
}

.logo:hover .logo-svg {
	fill: #998675;
	stroke: #fff;
}

.logo:hover .logo-txt {
	color: #998675;
}

.main-nav {
	display: block;
	/*	border: 1px solid red;*/
	margin-left: 776px;
	margin-top: -70px;
}

.main-nav__menu {
	/*border: 1px solid black;*/
	padding: 0;
	height: 50px;
	display: flex;
	/*justify-content: space-between;*/
}

.main-nav__li {
	list-style-type: none;
	/*	border: 1px solid yellow;*/
	margin-right: 30px;
}

.main-nav__li a {
	text-decoration: none;
	color: black;
	/*border: 1px solid green;*/
	display: flex;
	height: 100%;
	color: #ffffff;
	font-family: montserrat;
	font-size: 14px;
	font-weight: 300;
	/*   text-align: center;
  line-height: 50px; */
}

.main-nav__li a:hover {

	color: #c7b299;
	font-family: montserrat;
	font-size: 14px;
	font-weight: 300;
}

.main-nav__li a span {
	margin: auto;
}


input[type="search"] {
	width: 24px;
	height: 24px;
	outline: none;
	background-image: url(../img/icon-search.png);
	background-size: contain;
	background-repeat: no-repeat;
	/* Style for "icon-searc" */
	margin-top: 12px;
	margin-left: 28px;
	background-color: #ffffff;
	background-color: transparent;
	border: transparent;
}



.icon-cart {
	display: flex;
	padding: 0;
	margin: 0 0 0 43px;
	border: 0;
	/*border-radius:40px;*/
	background-color: transparent;

	overflow: hidden;
}




input[type="search"]:focus {
	width: 300px;
	transition: width 1s ease-out;
	background-position: right;

}

.head-center {
	display: flex;
	justify-content: center;
	margin-top: 381px;
	flex-wrap: wrap;
}

.arrow {
	display: flex;
	width: 100%;
	justify-content: space-between;


}


.slider-arrow-left {
	/* border: 1px solid black; */
	display: block;
	width: 40px;
	height: 73px;
	position: relative;
	box-sizing: border-box;
	margin-left: 100px;
}

.slider-arrow-left:after {
	content: "";
	display: inline-block;
	width: 52px;
	height: 52px;
	border-top: 2px solid #d3c1ad;
	border-right: 2px solid #d3c1ad;
	transform: rotate(225deg);
	position: absolute;
	top: 10px;
	left: -25px;
}

.slider-arrow-left:hover:after {
	border-top: 2px solid black;
	border-right: 2px solid black;
}

.slider-arrow-left:active:after {
	border-top: 2px solid red;
	border-right: 2px solid red;
}


.slider-arrow-right {
	/* border: 1px solid black; */
	display: block;
	width: 40px;
	height: 73px;
	position: relative;
	margin-right: 50px;
	;
	box-sizing: border-box;
}

.slider-arrow-right:after {
	content: "";
	display: inline-block;
	width: 52px;
	height: 52px;
	border-top: 2px solid #d3c1ad;
	border-right: 2px solid #d3c1ad;
	transform: rotate(45deg);
	position: absolute;
	top: 10px;
	left: -25px;
}

.slider-arrow-right:hover:after {
	border-top: 2px solid black;
	border-right: 2px solid black;
}

.slider-arrow-right:active:after {
	border-top: 2px solid red;
	border-right: 2px solid red;
}

svd {
	fill: red;
}





.circle {
	width: 40%;
	height: 20px;
	display: flex;
	justify-content: center;
	padding-top: 280px;
	box-sizing: border-box;

}

.circle-item {
	display: block;
	border: 1px solid transparent;
	width: 11px;
	height: 11px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background: #9e9d9c;
	margin: 9px;

}

.circle-item:hover {
	border: 1px solid white;
	background: transparent;

}

.circle-item:active {
	background: red;

}

.slogan-main {
	display: flex;
	width: 100%;
	text-align: center;
	flex-wrap: wrap;
	margin-top: -400px;
	box-sizing: border-box;
}

.slogan-main-title {
	display: block;
	width: 100%;
	/* Style for "Unique and" */
	height: 34px;
	color: #ffffff;
	font-family: raleway;
	font-size: 36px;
	font-weight: 500;
	margin: 200px 0 0 0;
}

.slogan-main-psd {
	/* Style for "Portfolio" */
	display: block;
	width: 100%;
	height: 50px;
	color: #ffffff;
	font-family: raleway-extrabold, "Arial";
	font-size: 52px;
	font-weight: 400;
	margin: 14px 0 19px 0;
}


.slogan-txt {
	/* Style for "Nam liber" */
	width: 100%;
	height: 39px;
	color: #ffffff;
	font-family: montserrat, "Arial";
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}

.btn {
	display: flex;
	width: 170px;
	min-height: 50px;
	border-radius: 3px;
	background-color: #998675;
	margin-left: 876px;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 3px solid #736356;
	margin-top: 50px;
}

.btn:hover {
	background-color: #736356;
	border-bottom: 3px solid #998675;
}

.btn:hover .btn-txt {
	color: #ccc;
}

.btn:active .btn-txt {
	color: #fff;
}

.btn-txt {
	margin: auto;
	font-family: raleway;
	color: #ffffff;
	font-size: 14px;
	font-weight: 800;
	line-height: 23px;
	text-align: center;
}




.serveses {
	display: flex;
	width: 100%;
	height: 373px;
	background-color: #ffffff;
	justify-content: center;
}

.category-title {
	/* Style for "Web & App" */
	display: block;
	margin: 29px 0 19px 37px;
	text-align: center;
	width: 195px;
	height: 21px;
	color: #555555;
	font-family: raleway;
	font-style: semibold;
	font-size: 22px;
	font-weight: 400;

}

.category-text {
	/* Style for "Nam liber" */
	display: block;
	width: 266px;
	height: 62px;
	color: #8c8c8c;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	text-decoration: none;
	text-align: center;


}

.icon {
	fill: #555555;
	width: 49px;
	height: 49px;
	margin: 81px 0 0 109px;
}

.icon:hover {
	fill: #c7b299;
}

.category {
	width: 266px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.category:after {
	content: "";
	display: block;
	width: 100px;
	height: 5px;
	background-color: #f1eee9;
	margin: 0 auto;
	align-self: flex-end;
}

.category:hover:after {

	background-color: #c7b299;

}

.bg {
	display: flex;
	flex-wrap: wrap;
	width: 1920px;
	height: 700px;
	background-color: #fbfaf8;
	/*border: 1px solid orange;*/
}

.bg-title {
	/* Style for "Waxom is R" */
	display: block;
	width: 100%;
	text-align: center;
	color: #555555;
	font-family: raleway-semibold;
	font-size: 30px;
	font-weight: 400;
	/*border: 1px solid black;*/
	margin: 83px 0 0 0;
}

.bg-txt {
	/* Style for "Investigat" */
	display: block;
	width: 40%;
	text-align: center;
	height: 43px;
	color: #8c8c8c;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	/*border: 1px solid aqua;*/
	margin: 19px 580px 0 583px;
	box-sizing: border-box;

}

.imgbox {
	margin: auto;
	width: 770px;
	height: 480px;
	padding: 40px;
	background-image: url(../img/browser-center.png), url(../img/browser-left.png), url(../img/browser-right.png);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: center, left, right;
	background-size: 80%, 60%, 80%;
	background-clip: content-box;

}


.word-press {
	background-color: #4d3427;
	display: flex;
	height: 150px;
	width: 100%;
	border: 1px solid green;
	flex-wrap: wrap;
}

.word-press-title {
	display: block;
	width: 70%;

	color: #ffffff;
	font-family: Raleway;
	font-size: 28px;
	font-weight: 400;
	text-align: center;
	/* Text style for "Waxom" */
	color: #c7b299;
	margin-top: 48px;
	box-sizing: border-box;
}

.word-press-txt {
	display: block;

	/* Style for "Don't Forg" */
	width: 70%;
	margin-top: 0;
	text-align: center;
	color: #615855;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 300;

}

.word-press-btn {
	display: flex;
	text-decoration: none;
	width: 170px;
	height: 50px;
	background-color: #998675;
	border-radius: 8px;
	/* Style for "button" */
	width: 170px;
	height: 50px;
	box-shadow: inset 0 -3px 0 #736357;
	border-radius: 3px;
	background-color: #998675;
	margin-top: -40px;

	text-align: center;

}

.word-press-btn-txt {
	padding: 15px 29px 20px 28px;
	box-sizing: border-box;
	display: block;
	color: #ffffff;
	font-family: "Raleway - Extra Bold";
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;
	text-transform: uppercase;
	text-align: center;
}


.latest-prj {
	width: 100%;
	display: flex;
	background-color: #ffffff;
	border: 1px solid pink;
	flex-wrap: wrap;

}

.prj-title {
	display: block;
	width: 100%;
	text-align: center;
	/* Style for "Our Latest" */
	color: #555555;
	font-family: raleway;
	font-style: semibold;
	font-size: 30px;
	font-weight: 400;
	margin-top: 80px;

}

.prj-text {
	display: block;
	/* Style for "Investigat" */
	width: 50%;
	margin: 24px 580px 10px 580px;
	text-align: center;
	color: #8c8c8c;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
}

.prj-nav {
	display: block;

	width: 100%;
	margin-left: auto;
	text-align: center;
	align-self: flex-start;


}



.prj-nav__menu {
	display: flex;
	width: 100%;
	justify-content: center;


	/*margin:40px 400px 0 400px;*/
	box-sizing: border-box;

}

.prj-main-nav__li {
	display: block;
	list-style-type: none;
	/*	border: 1px solid yellow;*/
	margin-right: 30px;
}

.prj-main-nav__li a {
	display: block;
	text-decoration: none;
	color: black;
	border: 1px solid green;
	display: flex;
	color: #ffffff;
	font-family: montserrat;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	line-height: 50px;
	/* Style for "button" */

	border-radius: 3px;
	border: 1px solid #ebebeb;
	background-color: transparent;
}

.prj-menu-item {
	/* Style for "All" */
	color: #8c8c8c;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;

}

/*.prj-nav__li a:hover {
	color: #998675;
	font-family: montserrat;
	font-size: 14px;
	font-weight: 300;
}*/

.prj-main-nav__li a span {
	width: 120px;
	height: 32px;
	border-radius: 3px;
	border: 1px solid #ebebeb;
	background-color: transparent;
	color: #8c8c8c;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
	padding-top: 7px;
}

.prj-main-nav__li a span:hover {
	background-color: #998675;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
	border: 1px solid transparent;
}


.prj-menu-item {

	display: block;
/*	border: 1px solid green;*/
}

.article-block {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-around;
	width: 70%;
	margin-left: 300px;
	box-sizing: border-box;

}

.article {
	margin: 40px;
	margin-left: 0px;
	position: relative;
	width: 30%;
}

.article:hover .article-btn-link {
	display: block;
}

.article:hover .article-btn-search {
	display: block;
}

.article:hover .article-btn-link:hover {
	background-color: #362f2d;
}

.article:hover .article-btn-search:hover {
	background-color: #362f2d;
}

.article:hover .article-photo {
	filter: brightness(20%);
}

.article:hover .article-txt-wrapper {
	background-color: #362f2d;
}

.article:hover .article-txt-wrapper:before {
	border-bottom: 10px solid #362f2d;
}

.article-photo {
	display: block;
	width: 100%;
	height: 237px;
}

.article-txt-wrapper {
	width: 100%;
	/* border: 1px solid red; */
	position: relative;
	background-color: #fbfaf8;
}

.article-txt-wrapper:before {
	content: "";
	border: 10px solid transparent;
	border-bottom: 10px solid #fbfaf8;
	position: absolute;
	top: -20px;
	left: 19px;

}

.article-title {
	display: block;
	text-align: center;
	padding: 10px 10px 0 10px;
	background-color:
	color:#c7b299;
	font-family: raleway;
	font-size: 20px;
	font-weight: 500;

}

.article-txt {
	display: block;
	text-align: center;
	padding: 5px;
	/* Style for "Graphic De" */
	color: #d1d1d1;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
}

.article-btn-link,
.article-btn-search {
	width: 20px;
	height: 20px;
	display: none;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	background-color: transparent;
	position: absolute;
	top: 45%
}

.article-btn-link {
	background-image: url('https://image.flaticon.com/icons/png/512/34/34735.png');
	left: 35%;
}

.article-btn-search {
	background-image: url('https://static.thenounproject.com/png/101791-200.png');
	right: 35%;
}

/*
.video-one {
	border: 1px dotted red;
	width: 100%;
	margin: auto;
	position: absolute;
	text-align: center;
	margin-top: -40px;
	margin-left: 40px;
}


video-block {
	position: relative;
	/*left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: -1;*/
}
/*
.video {
	position: relative;
	 top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
/*width: 100%;
	min-height: 705px;
	z-index: 1;
}
*/
/*
.article-title {
	/* Style for "Waxom Vide" 
	position: absolute;
	display: block;
	width: 100%;
	align-items: center;
	color: #ffffff;
	font-family: raleway;
	font-size: 30px;
	font-weight: 500;
}

.article-txt {
	position: absolute;
	text-align: justify;
	/* Style for "Investigat" 
	margin: 50px 0 0 50px;;
	text-align: center;
	width: 60%;
	color: #ffffff;
	font-family: montserrat;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
}

.time-video {
	display: block;
	/* Style for "03:26" 
	color: #c7b299;
	font-family: montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 22%;
}

*/

.exfdevices {
	width: 100%;
	background-color: #fbfaf8;
	display: flex;
	border: 2px solid pink;
	flex-wrap: wrap;
}


.exfdevices-img {
	display: block;
	margin: 49px 0 0 429px;


}

.exfdevices-block {
	width: 45%;
	align-self: flex-start;


}

.exfdevices-title {
	display: block;
	width: 100%;
	margin-top: 190px;
	color: #555555;
	font-family: raleway-semibold;
	font-size: 30px;
	font-weight: 400;

}

.exfdevices-txt {
	display: block;
	width: 70%;
	align-self: flex-start;
	color: #8c8c8c;
	font-family: montserrat;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;

}

.counters {
	/* Style for "Background" */
	height: 300px;
	background-color: #f4f5f8;
	background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
	width: 100%;
}

.exfdevices-list {
	list-style-type: none;
	color: #8c8c8c;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 300;
	line-height: 32px;
	text-align: left;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.exfdevices-list-list-item {
	position: relative;
	margin-left: 40px;
}

.exfdevices-list-list-item:before {
	content: "";
	display: block;
	width: 25px;
	height: 19px;
	position: absolute;
	top: 7px;
	left: -37px;

	background-image: url(../img/list-item.png);
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
